<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{571,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{191,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{99,1},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{493,1},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{649,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{419,1},{80,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{279,1},{82,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{351,1},{82,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bombExplor.png</string>
            <key>size</key>
            <string>{726,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bb6a8bb9266d6712749f81f260fd21:961c7ef1338a4fa268f644400df61ada:0fdb30595181b2044b4f0b009360bd6c$</string>
            <key>textureFileName</key>
            <string>bombExplor.png</string>
        </dict>
    </dict>
</plist>
